{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table>
        <thead>
            <tr>
                <td>Nom</td>
                <td>Ingrédients</td>
                <td>Type de pâte</td>
                {% if is_granted('ROLE_USER')%}
                <td>Option</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
                <tr>
                    <td>{{ pizza.nom }}</td>
                    <td>{{ pizza.ingredient|map(i => i.nom)|join(', ') }}</td>
                    <td>{{ pizza.pate.nom }}</td>
                    {% if is_granted('ROLE_USER')%}
                    <td class="option">
                    {% if app.user.id == pizza.user.id %}
                        <a href="{{path('pizza_update',{'id' : pizza.id})}}">Modifier</a>
                        <form method="POST" action="{{ path('delete_pizza', {'id': pizza.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ pizza.id)}}">
                            <input type="submit" id="delete" value="Supprimer">
                        </form>
                    {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
